# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Files
*.pickle
*.pkl
*.smp
*.h5
test_data
test_data/*

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Datajoint conf files
conf/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints/

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# PyCharm Files
.idea/
*events.

# DJ Config
djconfig/
*.json
!djimaging/djconfig/README.md
!djimaging/djconfig/djconf_template.json

# Exclude user stuff
user/
!user/README.md
test_data/special_files/too_many_triggers/SMP_M1_LR_GCL1_MB.h5
test_data/xy-RGCs-minimal/20220125/README.txt
test_data/xy-RGCs-minimal/20220125/2/20220126__right.ini
test_data/xy-RGCs-minimal/20220125/2/Pre/SMP_M1_RR_GCL0_chirp_C1.h5
test_data/xy-RGCs-minimal/20220125/2/Pre/SMP_M1_RR_GCL0_MB_C1.h5
test_data/xy-RGCs-minimal/20220125/2/Pre/SMP_M1_RR_GCL1_chirp_C1.h5
test_data/xy-RGCs-minimal/20220125/2/Pre/SMP_M1_RR_GCL1_MB_C1.h5
test_data/xy-RGCs-minimal/20220125/2/Pre/SMP_M1_RR_GCL2_MB_C1.h5
test_data/xy-RGCs-minimal/20220125/2/Raw/M1_RR_GCL0_chirp_C1.smh
test_data/xy-RGCs-minimal/20220125/2/Raw/M1_RR_GCL0_chirp_C1.smp
test_data/xy-RGCs-minimal/20220125/2/Raw/M1_RR_GCL0_HR_C1.smh
test_data/xy-RGCs-minimal/20220125/2/Raw/M1_RR_GCL0_HR_C1.smp
test_data/xy-RGCs-minimal/20220125/2/Raw/M1_RR_GCL0_MB_C1.smh
test_data/xy-RGCs-minimal/20220125/2/Raw/M1_RR_GCL0_MB_C1.smp
test_data/xy-RGCs-minimal/20220125/2/Raw/M1_RR_GCL1_chirp_C1.smh
test_data/xy-RGCs-minimal/20220125/2/Raw/M1_RR_GCL1_chirp_C1.smp
test_data/xy-RGCs-minimal/20220125/2/Raw/M1_RR_GCL1_HR_C1.smh
test_data/xy-RGCs-minimal/20220125/2/Raw/M1_RR_GCL1_HR_C1.smp
test_data/xy-RGCs-minimal/20220125/2/Raw/M1_RR_GCL1_MB_C1.smh
test_data/xy-RGCs-minimal/20220125/2/Raw/M1_RR_GCL1_MB_C1.smp
test_data/xy-RGCs-minimal/20220125/2/Raw/M1_RR_OpticDisc.smh
test_data/xy-RGCs-minimal/20220125/2/Raw/M1_RR_OpticDisc.smp
test_data/xy-RGCs-minimal/20220215/README.txt
test_data/xy-RGCs-minimal/20220215/1/Pre/SMP_M1_LR_GCL0_chirp_C1.h5
test_data/xy-RGCs-minimal/20220215/1/Pre/SMP_M1_LR_GCL0_chirp_C2.h5
test_data/xy-RGCs-minimal/20220215/1/Pre/SMP_M1_LR_GCL0_DN_C1.h5
test_data/xy-RGCs-minimal/20220215/1/Pre/SMP_M1_LR_GCL0_DN_C2.h5
test_data/xy-RGCs-minimal/20220215/1/Pre/SMP_M1_LR_GCL0_MB_C1.h5
test_data/xy-RGCs-minimal/20220215/1/Pre/SMP_M1_LR_GCL0_MB_C2.h5
test_data/xy-RGCs-minimal/20220215/1/Raw/M1_LR_GCL0_chirp_C1.smh
test_data/xy-RGCs-minimal/20220215/1/Raw/M1_LR_GCL0_chirp_C1.smp
test_data/xy-RGCs-minimal/20220215/1/Raw/M1_LR_GCL0_chirp_C2.smh
test_data/xy-RGCs-minimal/20220215/1/Raw/M1_LR_GCL0_chirp_C2.smp
test_data/xy-RGCs-minimal/20220215/1/Raw/M1_LR_GCL0_DN_C1.smh
test_data/xy-RGCs-minimal/20220215/1/Raw/M1_LR_GCL0_DN_C1.smp
test_data/xy-RGCs-minimal/20220215/1/Raw/M1_LR_GCL0_DN_C2.smh
test_data/xy-RGCs-minimal/20220215/1/Raw/M1_LR_GCL0_DN_C2.smp
test_data/xy-RGCs-minimal/20220215/1/Raw/M1_LR_GCL0_HR_C1.smh
test_data/xy-RGCs-minimal/20220215/1/Raw/M1_LR_GCL0_HR_C1.smp
test_data/xy-RGCs-minimal/20220215/1/Raw/M1_LR_GCL0_HR_C2.smh
test_data/xy-RGCs-minimal/20220215/1/Raw/M1_LR_GCL0_HR_C2.smp
test_data/xy-RGCs-minimal/20220215/1/Raw/M1_LR_GCL0_MB_C1.smh
test_data/xy-RGCs-minimal/20220215/1/Raw/M1_LR_GCL0_MB_C1.smp
test_data/xy-RGCs-minimal/20220215/1/Raw/M1_LR_GCL0_MB_C2.smh
test_data/xy-RGCs-minimal/20220215/1/Raw/M1_LR_GCL0_MB_C2.smp
test_data/xy-dendrites/Readme.txt
test_data/xy-dendrites/20201127/Readme.txt
test_data/xy-dendrites/20201127/1/20201127__left.ini
test_data/xy-dendrites/20201127/1/Morph/20201127_C1_flat.tif
test_data/xy-dendrites/20201127/1/Morph/F20201127aC1_Morph.h5
test_data/xy-dendrites/20201127/1/Pre/SMP_C1_d1_Chirp.h5
test_data/xy-dendrites/20201127/1/Pre/SMP_C1_d1_Dnoise.h5
test_data/xy-dendrites/20201127/1/Pre/SMP_C1_d1_lChirp.h5
test_data/xy-dendrites/20201127/1/Pre/SMP_C1_d2_Chirp.h5
test_data/xy-dendrites/20201127/1/Pre/SMP_C1_d2_Dnoise.h5
test_data/xy-dendrites/20201127/1/Pre/SMP_C1_d2_lChirp.h5
test_data/xy-dendrites/20201127/1/Pre/SMP_C1_d3_Chirp.h5
test_data/xy-dendrites/20201127/1/Pre/SMP_C1_d3_Dnoise.h5
test_data/xy-dendrites/20201127/1/Pre/SMP_C1_d3_lChirp.h5
test_data/xy-dendrites/20201127/1/Pre/SMP_C1_d4_Chirp.h5
test_data/xy-dendrites/20201127/1/Pre/SMP_C1_d4_Dnoise.h5
test_data/xy-dendrites/20201127/1/Pre/SMP_C1_d4_lChirp.h5
test_data/xy-dendrites/20201127/1/Pre/SMP_C1_d5_Chirp.h5
test_data/xy-dendrites/20201127/1/Pre/SMP_C1_d5_Dnoise.h5
test_data/xy-dendrites/20201127/1/Pre/SMP_C1_d5_lChirp.h5
test_data/xy-dendrites/20201127/1/Pre/SMP_C1_d6_Chirp.h5
test_data/xy-dendrites/20201127/1/Pre/SMP_C1_d6_Dnoise.h5
test_data/xy-dendrites/20201127/1/Pre/SMP_C1_d6_lChirp.h5
test_data/xy-dendrites/20201127/1/Pre/SMP_C1_stack.h5
test_data/xy-dendrites/20201127/1/Raw/Line_stack.tif
test_data/xy-dendrites/20201127/1/Raw/wDataCh0-exported-000.swc
test_data/xy-dendrites/20201127/1/Raw/wDataCh0.tif
test_data/xy-dendrites/20201127/1/Raw/wDataCh0.traces
test_data/xy-dendrites/20201127/2/20201127__right.ini
test_data/xy-dendrites/20201127/2/Morph/20201127_C2_flat.tif
test_data/xy-dendrites/20201127/2/Morph/F20201127bC2_Morph.h5
test_data/xy-dendrites/20201127/2/Pre/._SMP_C2_d1_Dnoise.h5
test_data/xy-dendrites/20201127/2/Pre/._SMP_C2_d2_Dnoise.h5
test_data/xy-dendrites/20201127/2/Pre/._SMP_C2_d3_Dnoise.h5
test_data/xy-dendrites/20201127/2/Pre/._SMP_C2_d4_Dnoise.h5
test_data/xy-dendrites/20201127/2/Pre/._SMP_C2_d5_Dnoise.h5
test_data/xy-dendrites/20201127/2/Pre/SMP_C2_d1_Chirp.h5
test_data/xy-dendrites/20201127/2/Pre/SMP_C2_d1_Dnoise.h5
test_data/xy-dendrites/20201127/2/Pre/SMP_C2_d1_lChirp.h5
test_data/xy-dendrites/20201127/2/Pre/SMP_C2_d1_sinespot.h5
test_data/xy-dendrites/20201127/2/Pre/SMP_C2_d2_Chirp.h5
test_data/xy-dendrites/20201127/2/Pre/SMP_C2_d2_Dnoise.h5
test_data/xy-dendrites/20201127/2/Pre/SMP_C2_d2_lChirp.h5
test_data/xy-dendrites/20201127/2/Pre/SMP_C2_d2_SineSpot.h5
test_data/xy-dendrites/20201127/2/Pre/SMP_C2_d3_Chirp.h5
test_data/xy-dendrites/20201127/2/Pre/SMP_C2_d3_Dnoise.h5
test_data/xy-dendrites/20201127/2/Pre/SMP_C2_d3_lChirp.h5
test_data/xy-dendrites/20201127/2/Pre/SMP_C2_d4_Chirp.h5
test_data/xy-dendrites/20201127/2/Pre/SMP_C2_d4_Dnoise.h5
test_data/xy-dendrites/20201127/2/Pre/SMP_C2_d4_lChirp.h5
test_data/xy-dendrites/20201127/2/Pre/SMP_C2_d5_Chirp.h5
test_data/xy-dendrites/20201127/2/Pre/SMP_C2_d5_Dnoise.h5
test_data/xy-dendrites/20201127/2/Pre/SMP_C2_d5_lChirp.h5
test_data/xy-dendrites/20201127/2/Pre/SMP_C2_Stack.h5
test_data/xy-dendrites/20201127/2/Raw/Line_stack.tif
test_data/xy-dendrites/20201127/2/Raw/wDataCh0-exported-000.swc
test_data/xy-dendrites/20201127/2/Raw/wDataCh0.tif
test_data/xy-dendrites/20201127/2/Raw/wDataCh0.traces
test_data/xz-BCs/20220111/2/20220211_1#172_right.ini
test_data/xz-BCs/20220111/2/Pre/SMP_M1_RR_xz0_BCnoise_AM251.h5
test_data/xz-BCs/20220111/2/Pre/SMP_M1_RR_xz0_BCnoise_C1.h5
test_data/xz-BCs/20220111/2/Pre/SMP_M1_RR_xz0_Chirp_AM251.h5
test_data/xz-BCs/20220111/2/Pre/SMP_M1_RR_xz0_Chirp_C1.h5
test_data/xz-BCs/20220111/2/Pre/SMP_M1_RR_xz0_CSL_AM251.h5
test_data/xz-BCs/20220111/2/Pre/SMP_M1_RR_xz0_CSL_C1.h5
test_data/xz-BCs/20220111/2/Pre/SMP_M1_RR_xz0_Lchirp_AM251.h5
test_data/xz-BCs/20220111/2/Pre/SMP_M1_RR_xz0_Lchirp_C1.h5
test_data/xz-BCs/20220111/2/Pre/SMP_M1_RR_xz1_BCnoise_AM251.h5
test_data/xz-BCs/20220111/2/Pre/SMP_M1_RR_xz1_BCnoise_C1.h5
test_data/xz-BCs/20220111/2/Pre/SMP_M1_RR_xz1_Chirp_AM251.h5
test_data/xz-BCs/20220111/2/Pre/SMP_M1_RR_xz1_Chirp_C1.h5
test_data/xz-BCs/20220111/2/Pre/SMP_M1_RR_xz1_CSL_AM251.h5
test_data/xz-BCs/20220111/2/Pre/SMP_M1_RR_xz1_CSL_C1.h5
test_data/xz-BCs/20220111/2/Pre/SMP_M1_RR_xz1_Lchirp_AM251.h5
test_data/xz-BCs/20220111/2/Pre/SMP_M1_RR_xz1_Lchirp_C1.h5
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz0_BCnoise_AM251.smh
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz0_BCnoise_AM251.smp
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz0_BCnoise.smh
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz0_BCnoise.smp
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz0_Chirp_AM251.smh
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz0_Chirp_AM251.smp
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz0_Chirp.smh
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz0_Chirp.smp
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz0_CSL_AM251.smh
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz0_CSL_AM251.smp
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz0_CSL.smh
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz0_CSL.smp
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz0_LC_AM251.smh
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz0_LC_AM251.smp
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz0_LC.smh
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz0_LC.smp
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz1_BCnoise_AM251.smh
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz1_BCnoise_AM251.smp
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz1_BCnoise.smh
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz1_BCnoise.smp
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz1_Chirp_AM251.smh
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz1_Chirp_AM251.smp
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz1_Chirp.smh
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz1_Chirp.smp
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz1_CSL_AM251.smh
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz1_CSL_AM251.smp
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz1_CSL.smh
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz1_CSL.smp
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz1_LC_AM251.smh
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz1_LC_AM251.smp
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz1_LC.smh
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz1_LC.smp
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz2_BCnoise_AM251.smh
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz2_BCnoise_AM251.smp
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz2_BCnoise.smh
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz2_BCnoise.smp
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz2_Chirp_AM251.smh
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz2_Chirp_AM251.smp
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz2_Chirp.smh
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz2_Chirp.smp
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz2_CSL_AM251.smh
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz2_CSL_AM251.smp
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz2_CSL.smh
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz2_CSL.smp
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz2_LC_AM251.smh
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz2_LC_AM251.smp
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz2_LC.smh
test_data/xz-BCs/20220111/2/Raw/20220111_M1_RR_xz2_LC.smp
test_data/zstack/20190130/1/20190130__left.ini
test_data/zstack/20190130/1/Experiment.pxp
test_data/zstack/20190130/1/Pre/root.h5
test_data/zstack/20190130/1/Pre/SMP_M1_LR_GCL1_512.h5
test_data/zstack/20190130/1/Pre/SMP_M1_LR_GCL1_Chirp.h5
test_data/zstack/20190130/1/Pre/SMP_M1_LR_GCL1_MB.h5
test_data/zstack/20190130/1/Pre/SMP_M1_LR_GCL1_stack.h5
test_data/zstack/20190130/1/Raw/M1_LR_GCL1_512.smh
test_data/zstack/20190130/1/Raw/M1_LR_GCL1_512.smp
test_data/zstack/20190130/1/Raw/M1_LR_GCL1_Chirp.smh
test_data/zstack/20190130/1/Raw/M1_LR_GCL1_Chirp.smp
test_data/zstack/20190130/1/Raw/M1_LR_GCL1_MB.smh
test_data/zstack/20190130/1/Raw/M1_LR_GCL1_MB.smp
test_data/zstack/20190130/1/Raw/M1_LR_GCL1_stack.smh
test_data/zstack/20190130/1/Raw/M1_LR_GCL1_stack.smp
